body {
    margin: 0;
    width: 100%;
    height: 700px;
    font-family: 'Montserrat', sans-serif;
    background-color: #343d4b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  } 
.container {
    border-radius: 120px;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: #222831;
    color: #ffffff;
    width: 40%;
    height: 500px;
  }
.container .app-title {
        text-decoration-line: underline;
        text-transform: uppercase;
        color: darkslategrey;
        position: relative;
        top: 25%;
        left: 50%;
        margin-top: -55px;
        margin-left: -50px;
        width: 110px;
        height: 50px;
        border: 3px flex #ddd; 
}
.container .list {
    color: darkolivegreen;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    cursor: pointer;  
}
.container .dayInfo {
    color: darkolivegreen;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: -80px;
    height: -80px;
    table-layout: inherit;
    border-radius: 50%;
}





